{% extends '::base.html.twig' %}
{% block  stylesheets %}

  <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}"/>
  <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}"/>
  {# extra #}
  <link rel="stylesheet" href="{{ asset('assets/vendor/angular-loading-bar/build/loading-bar.min.css') }}"/>
  <link rel="stylesheet" href="{{ asset('assets/vendor/world-flags-sprite/stylesheets/flags16.css') }}"/>

  {# extra #}
  <link rel="stylesheet" href="{{ asset('bundles/rstaurant/css/Frontend/frontend.css') }}"/>

{% endblock %}
{% block  javascripts %}
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/angular/angular.min.js') }}"></script>

  <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
  {# extra #}
  <script src="{{ asset('assets/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/angular-ui-router/release/angular-ui-router.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/angular-animate/angular-animate.js') }}"></script>
  <script src="{{ asset('assets/vendor/angular-cookies/angular-cookies.js') }}"></script>
  <script src="{{ asset('assets/vendor/angular-resource/angular-resource.js') }}"></script>
  <script src="{{ asset('assets/vendor/angular-sanitize/angular-sanitize.js') }}"></script>
  <script src="{{ asset('assets/vendor/angular-messages/angular-messages.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/angular-touch/angular-touch.js') }}"></script>
  <script src="{{ asset('assets/vendor/oclazyload/dist/ocLazyLoad.min.js') }}"></script>
  {#<script src="{{ asset('assets/vendor/angular-loading-bar/build/loading-bar.min.js') }}"></script>#}
  <script src="{{ asset('assets/vendor/json3/lib/json3.min.js') }}"></script>


  {#I18N#}
  <script src="{{ asset('assets/vendor/angular-translate/angular-translate.js') }}"></script>
  <script src="{{ asset('assets/vendor/angular-translate-loader-static-files/angular-translate-loader-static-files.js') }}"></script>
  <script src="{{ asset('assets/vendor/angular-translate-storage-cookie/angular-translate-storage-cookie.js') }}"></script>
  <script src="{{ asset('assets/vendor/angular-translate-storage-local/angular-translate-storage-local.js') }}"></script>
  <script src="{{ asset('assets/vendor/angular-translate-handler-log/angular-translate-handler-log.js') }}"></script>
  <script src="{{ asset('assets/vendor/angular-dynamic-locale/src/tmhDynamicLocale.js') }}"></script>

  {# MAIN  #}
  <script src="{{ asset('bundles/rstaurant/js/frontend/app.module.js') }}"></script>
  <script src="{{ asset('bundles/rstaurant/js/main.js') }}"></script>
  <script src="{{ asset('bundles/rstaurant/js/frontend/app.constant.js') }}"></script>
  <script src="{{ asset('bundles/rstaurant/js/frontend/app.config.js') }}"></script>
  <script src="{{ asset('bundles/rstaurant/js/frontend/Services/User/Users.Service.js') }}"></script>

  <script src="{{ asset('bundles/rstaurant/js/frontend/Controllers/Restaurant.Controller.js') }}"></script>
  <script src="{{ asset('bundles/rstaurant/js/frontend/Services/LocaleService.js') }}"></script>
  <script src="{{ asset('bundles/rstaurant/js/frontend/Directives/selectLanguage/LanguageSelectDirective.js') }}"></script>


{% endblock %}
{% block footer %}
  <footer>
    <div class="container">
      <div class="footer_para">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
    <section class="footer_social">
      <div class="container">
        <div class="f_social_icons">
          <p>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-envelope"></i></a>
          </p>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="f_menu">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
        <p>Copyright 2016 - <strong>Restaurant</strong>, All Right Reseerved.</p>
      </div>
    </div>
  </footer>
{% endblock %}